<!DOCTYPE html>
<html lang ='en'>
<head>
        <meta charset='UTF-8'>
        <meta http-equiv="X-UA-Comaptible" content="IE=edge">
        <meta name="viewport" content="width=device-width",initial-scale=1.0">
        <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>
    <div>
    <ul>
        <li><a href="/blog">Home</a></li>
        <li><a href="./contact">Contact Us </a></li>
        <li><a href="./about">About Us </a></li>
    </ul>
    </div>
    <div class="main-div">
    <img id="main-img" src= "{% static 'blog/imgs/main.jpeg' %}" />
    </div>

<div>
    <div class="card">
        <img src="{% static 'blog/imgs/1.jpg' %}"/>
        <h4>Delicious Meals</h4>
        <p><a href="./menu"> Menu </a></p>
    </div>

    <div class="card">
        <img src="{% static 'blog/imgs/2.jpg' %}"/>
        <h4>Delicious Meals</h4>
        <p><a href="./specials"> Specials </a></p>
    </div>

    <div class="card">
        <img src="{% static 'blog/imgs/3.jpg' %}"/>
        <h4>Delicious Meals</h4>
        <p><a href="./meals"> Meals </a></p>
    </div>
</div>
<footer>
    <div class="footer-div">
    <p>Address</p>
    Address: Badem,Nabinagar,Aurangabad,824301
    <br/><br/>
        10 Branch Accross The Country
        <br/>
    </div>

     <div class="footer-div">
    <p>Time</p>
    Lunch is Served at <span style="color:rgb(176,176,176);font-style:italic">7:00 Am to 10:00 Am </span>
    <br/><br/>
        We Give Best Quality Service in Town
        <br/>
    </div>

     <div class="footer-div">
    <p>Testimonials</p>
    "This is the best Restaurant I have ever been to"
    <br/><br/>
        "They Have Outstanding Samosa!"
        <br/>
    </div>
</footer>

</body>
</html>